<html>
<body>
<h1>Packages Used:</h1>


<ul>
@foreach(var m in Model) {
	<li>
		<span>@m.Id</span>
		<span>@m.Version</span>
		<span>@m.ProjectUrl</span>
		<span>@m.LicenseUrl</span>
	</li>
}
</ul>
</body>
</html>